section.background
{
	position:absolute;
	height:680px;
	width:1350px;
	z-index: -2;
	background-image: url("beige.jpg");
}
h2.members
{
	padding-left: 25%;
}
div.Faculty
{
	padding-left: 15%;
}

.Faculty ul {
  list-style: none;
  background-color: #990000;
  text-align: center;
  padding: 0;
  margin: 0;
  margin-left: 0px;
  width: 100%;
  display: inline-block;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc; 
}
.Faculty li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 2px solid #888;
  position: relative;
  text-align: center;
	padding-top:9px;
	padding-right:22px;
	display:inline;

	-webkit-transition: all 900ms ease;
	-moz-transition: all 900ms ease;
	-ms-transition: all 900ms ease;
	-o-transition: all 900ms ease;
	transition: all 900ms ease;
}
 
.Faculty a {
  text-decoration: none;
  color: #fff;
  display: inline;
  transition: .3s background-color;
}
 
.Faculty a:hover {
  background-color: #005f5f;
}
 
.Faculty a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

.Faculty li
{
    display: inline-block;
    margin-right: -4px;
}
 